<div class="search-bar form-inline">
  <div class="search-text"> Search films and TV</div>
  <select name="type" ng-model="ctrl.selection">
    <option value="movie">Movies</option>
    <option value="tv">TV Shows</option>
  </select>
  <input
    ng-model="ctrl.input"
    class="form-control"
    type="text"
    ng-change="ctrl.handleClick(); toggleSelect()"
  />
  <button class="btn" ng-click="ctrl.handleClick(); ctrl.input=''; toggleSelect()">
    <span class="glyphicon glyphicon-search" id="searchButton"></span>
  </button>
  <search-result-list results="ctrl.results" user="ctrl.user" selection="ctrl.selection" ng-show="isPopupVisible"/>
</div>
