<div class="movie-entry col-xs-5 card">
  <div class="card-contents">
    <img class="movie-entry-poster" src="http://martjackassests.azureedge.net/css/themes/mjt02012429/images/main/show_loader.gif" 
         ng-src="{{ctrl.tvShow.details.poster}}">
    <div class="movie-entry-info">
      <h4 class="movie-entry-title inline-block card-title">{{ctrl.tvShow.details.name}}</h4>

      <div class="movie-info">
        <div class="year movie-subhead">First aired: {{ctrl.tvShow.details.first_air_date}} </div>
        <div class="rating movie-subhead">{{ctrl.tvShow.details.Rated || 'N/A'}}</div>
        <div class="movie-staff">Director: {{ctrl.tvShow.details.created_by[0].name}}</div>
        <div class="movie-staff">Seasons: {{ctrl.tvShow.details.number_of_seasons}}</div>
        <br />
        <div class="tv-summary">Summary: {{ctrl.tvShow.details.overview}} </div>
      </div>
    </div>
    <div class="user-additions">
      <div class="user-movie-comment">
        <div class="user-critic user-critic-element">{{ctrl.user.username}} says:</div>
        <div class="user-critic-comment user-critic-element"> "{{ctrl.tvShow.comment}}"</div>
      </div>

      <div class="search-bar form-inline comment-search-bar">
        <input
          ng-model="ctrl.input"
          class="form-control comment-element"
          type="text"
        />
        <button class="btn comment-element" id="edit-button" ng-click="ctrl.handleAddCommentClick(); ctrl.input=''" onclick="return false">
          <span>edit</span>
        </button>
      </div>

      <div class="inline-block" id="user-rating">Rating: {{ctrl.tvShow.rating}}/10</div>
      <div class="rating-change inline-block">
        <select class="rating-change-select" ng-model="ctrl.rating" name="carlist" form="carform" ng-change="ctrl.handleRatingClick(); ctrl.rating=''">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>

      <div col-xs-5>
        <button class="btn btn-default comment-element" id="remove-button" ng-click="ctrl.handleRemoveClick()">
          <span>remove show</span>
        </button>
        <button class="btn btn-default favorite-element comment-element" id="add-favorite-button" ng-click="ctrl.handleAddToFavorites()">
          <span>make favorite</span>
        </button>
      </div>
    </div>
  </div>
</div>