<div class="tv-entry">
    <img class="movie-entry-poster" ng-src="{{ctrl.tvShow.poster}}">
    <div class="movie-entry-info">
      <h4 class="movie-entry-title inline-block">{{ctrl.tvShow.details.name}}</h4>

      <div class="movie-info">
        <div class="year movie-subhead">{{ctrl.tvShow.details.first_air_date}} </div>
        <div class="rating movie-subhead">{{ctrl.tvShow.details.Rated || 'N/A'}}</div>
        <div class="genre movie-subhead">{{ctrl.tvShow.details.genre[0].name}}</div>
        <div class="movie-staff">Director: {{ctrl.tvShow.details.created_by[0].name}}</div>
        <div class="movie-staff">Seasons: {{ctrl.tvShow.details.number_of_seasons}}</div>
      </div>
    </div>

</div>